<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="main-body d-flex">
        <div class="card-body ">
          <div class="d-flex flex-column align-items-center text-center">
            <%# <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150"> %>
            <% if current_user.photo.attached?  %>
              <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img class="" alt="avatar-large" width="150" src="https://images.unsplash.com/photo-1590860773824-a6767b15dd59?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fG5vdGhpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
            <% end %>
            <div class="mt-3">
              <h4>UserName</h4>
              <p class="text-secondary mb-1">Description of a shoe's lover</p>
              <%# <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>  %>
              <%# <a class="btn btn-flat" href="#">Edit</a> %>
              <%= link_to "Edit", edit_user_registration_path(@user), class: "btn btn-flat" %>
            </div>
          </div>
        </div>
        <div class="card-body col-12 col-6">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary"><%= current_user.first_name %> <%= current_user.last_name %></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary"><%= current_user.email %></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Phone</h6>
            </div>
            <div class="col-sm-9 text-secondary"><%= current_user.telephone_number %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Number of shoes</h6>
            </div>
            <div class="col-sm-9 text-secondary"><%= current_user.shoes.count%></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary"><%= current_user.address %></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="d-flex show col-md-auto col-md-auto">
        <div class="col-6 m-3">
          <h3 class="text-center col-categ">My inventory</h3>
          <div>
            <% current_user.shoes.each do |shoe| %>
            <div class="card-product mb-2">
              <% if shoe.photo.attached?  %>
                <%= cl_image_tag shoe.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
              <% end %>
              <div class="card-product-infos">
                <h2><%= shoe.title %></h2>
                <p><%= shoe.description %></p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        
        <div class=" col-6 m-3">
          <h3 class="text-center col-categ">Location Request</h3>
          <div>

            <% @locations.each do |location| %>
            <div class="card-product mb-2">
                <%= cl_image_tag location.shoe.photo.key, height: 300, width: 400, crop: :fill %>        
              <div class="card-product-infos">
                <h2><%= location.shoe.title %></h2>
                <p><%= location.shoe.description %></p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-shoe m-20 p-3">
        <%= simple_form_for([@shoe]) do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :brand %>
          <%= f.input :model %>
          <%= f.input :color %>
          <%= f.input :purchasing_date, as: :date, start_year: Date.today.year - 15,
                                end_year: Date.today.year - 1, discard_day: true,
                                order: [:month, :year] %>
          <%= f.input :daily_pricing, as: :integer %>
          <%= f.input :shoe_size, collection: Shoe::SHOE_SIZES, prompt: "choose a size" %>
          <%= f.input :gender, collection: Shoe::GENDERS, prompt: "Choose a gender"  %>
          <%= f.input :photo, as: :file %>
          <%# <%= f.input :categories, :collection => @categories %>
          <%# collection: Category.all, prompt: "Choose a category" %>
          <%= f.button :submit, class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>  
