<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-shoe-prints"></i>
    <%# <img class="fit-picture" src="../../assets/images/chaussure.png"> %>
    <%# <%= image_tag "../../assets/images/chaussure.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-baseline">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Add your shoe", dashboard_index_path , class: "btn btn-primary", style: "text-align: start; width: 117px" %>
        </li>
        <li class="nav-item">
          <%= link_to "Search", shoes_path, class: "nav-link" %>
        </li>
        <li>
          <button type="button" class="btn btn-primary" style="text-align: start;width: 117px">
            Notifications <span class="badge badge-light ml-1"><%= @count_new_notifs %></span>
          </button>
        </li>
        <li class="nav-item dropdown pt-2 ml-2">
          <%= link_to current_user.first_name, dashboard_index_path %>
          <%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_index_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
