<div class="container">
  <div class="card-trip">
    <img src=<%= cl_image_tag @shoe.photo.key, crop: :fill %>>
    <div class="card-trip-infos">
      <div>
        <h2><%=@shoe.title%></h2>
        <p>Gender: <%=@shoe.gender%></p>
        <p>Brand: <%=@shoe.brand%></p>
        <p>Model: <%=@shoe.model%></p>
        <p>Size: <%=@shoe.shoe_size%></p>
        <p>Size: <%=@shoe.color%></p>
        <p>Description: <%=@shoe.description%></p>
      </div>
      <h2 class="card-trip-pricing"><%=@shoe.daily_pricing%>€</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>

<div class="container">
  <div class="card-booking">
    <%= simple_form_for [ @shoe, @location ] do |f| %>
      <%= f.input :date_beginning %>
      <%= f.input :date_end %>
      <%= f.submit "Submit location demande", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="card-options">
    <% if policy(@shoe).edit? %>
      <%= link_to 'Edit', edit_shoe_path(@shoe), class:"btn btn-primary btn-lg btn-block my-8" %>
    <% end %>   
    <%= link_to 'Back', shoes_path, class:"btn btn-primary btn-lg btn-block" %>
  </div>
</div>



<%# <h1>Shoes#show</h1>
<p>Find me in app/views/shoes/show.html.erb</p>
 %>
