<h1>Shoes#show</h1>
<p>Find me in app/views/shoes/show.html.erb</p>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%=Shoe.title%></h2>
      <p><%=Shoe.model%></p>
      <p><%=Shoe.description%></p>
      <p><%=Shoe.color%></p>
    </div>
    <h2 class="card-trip-pricing"><%=Shoe.daily_pricing%></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

